.planos {
    background-color: var(--cinza-claro);
    
}
.planos__cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.planos__opcoes {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;

}   
.planos__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.planos__descricao {
    color: var(--fonte-cinza);
    display: flex;
    line-height: 28px;
    margin-left: 5ren;
}

.planos__valor {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.planos__btn {
    margin-top: 1rem;
    nav-right: auto;
    width: 60%;
}