.menu-nav {
    text-align: center;
}

.menu__item {
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}
.menu__link {
    Color: floralwhite;
    Font-size: 1.1rem;
    text-decoration: none;

}
.menu__item:hover {
    text-decoration: underline;
}

@media screen and (min-width:1024px) {
    .menu-nav {
        padding-top: 0.5rem;

    }
}