.rodape {
    background-color: var(--bg-rodape);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.rodape__logo {
    width: 10rem;
    margin: 0 auto;
    padding-top: 2rem;
}
.redes-sociais {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 2rem;
}
.redes-sociais__item {
    margin: 1rem;
}
.menu-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;

} 
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .rodape__logo {
        margin: 2%;
    }
    .redes-sociais {
        margin: 1%;
    }
    .rodape__navegacao {
        text-align: left;
        min-width: 600px;
    }

}