.sobre__titulo {
    color: var(--cinza-escuro);
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
}
.sobre__txt {
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.sobre__txt--destaque {
    font-weight: bold;
    padding-bottom: 2rem;
}
.sobre__plataformas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
}
.sobre__img {
    display: none;
}

@media screen and (min-width: 1024px) {
    .sobre {
        display: flex;
        width: 850px;
    }
    .sobre__titulo {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 1rem;
    }
    .sobre__txt--destaque {
        border-bottom: 1px solid var(--cinza-medio);
    }
    .sobre__plataformas {
        padding-top: 1rem;
        width: 450px;
    }
    .sobre__img {
        display: block;
        margin-left: 5rem;
    }

}